/* Header */
header h1 {
    font-family: Georgia;
    color: #7F142F;
    font-size: 100px;
	font-weight: 800;
	text-align: center;
    text-transform: lowercase;
	line-height: 1;
}

header p {
	font-family: 'Dawning of a New Day', cursive;
	color: #7F142F;
	text-align: center;
	font-size: 35px;
	line-height: 1;
	margin-top: -35px;
	margin-left: -60px;
}

/* Navigation */
nav {
	border-top: solid medium #7F142F;
	font-family: Georgia;
	margin-top:-10px;
}

/* Content */
.title {
    height: 300px;
    background-color: hsla(345,73%,79%,0.3);
    background-image: url(url);
	margin-bottom: 40px;
}

.title h1 {
    font-family: Georgia;
    color: #7f142F;
    font-size:75px;
    font-weight: 700;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
}

.main .section h2 {
    font-family: Georgia;
    font-weight: 300;
    font-style: normal;
    color: #7f142f;
	margin-top: -23px;
    margin-left: 20px;
}

.main .section {
	background-color: hsla(345,73%,79%,0.15);
}

.main .section p {
	margin: 10px;
	font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.vision h3 {
	font-family: 'Raleway', sans-serif;
	text-align:  center;
	padding: 5px;
}
.vision-1 {
	margin: auto;
	align-content: center;
	text-align: center;
	border: 1px solid #7f142f;
	padding: 10px 0;
}
.vision-2 {
	margin: auto;
	align-content: center;
	text-align: center;
	border: 1px solid #7f142f;
	padding: 26px 0;
}
.vision-3 {
	margin: auto;
	align-content: center;
	text-align: center;
	border: 1px solid #7f142f;
	padding: 28px 0;
}



.carousel-caption h5{
	align-content: center;
		font-size: 60px;
	font-family: 'Raleway', sans-serif;

}

.carousel-caption{
	background: rgba(226, 147, 120, 0.5);
	opacity: 03;
	
}

.image-team {
	align-content: center;
	vertical-align: middle;
}

/* Footer */
footer .content {
    background-color: #7F142F;
}

footer h2 {
	font-family: Georgia;
	font-size: 25px;
	color: white;
	padding: 10px;
}

footer p {
	color: white;
	font-family: 'Raleway', sans-serif;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style: none;	
	margin-bottom: 10px;
}

footer ul li{
	border-bottom: 1px solid white;
	color: white;
	line-height: 35px;
}

footer ul li a {
	color: white;
	font-family: 'Raleway', sans-serif;
}

footer ul li a:hover {
	color: white;
	margin-left: 10px;
	transition: all .3s;
}

.copyright {
	text-align: center;
	color:#FFFFFF; 
	background-color: hsla(345,73%,29%,0.8);
	padding: 5;
}

.copyright p {
	margin-top: 15px;
	font-family: 'Raleway', sans-serif;
}

/* Xara's adjustments */

.control-label {
    font-family: Georgia;
    font-weight: 500;
    color: #7f142f;
	margin-top: -23px;
	margin-bottom: -40px;
}

.btn {
	font-family: 'Raleway', sans-serif;
}

.socialsinfo {
	margin-bottom: -40px;
}

.h3form {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}
@media screen{

.contact-info {
margin-top: 40px;
	
}
	
	.pgtkm {
margin-left: 550px;
font-size: 12px;
	}

	.icons {
		width: 60px;
		margin-left: 55px;
		margin-right: auto;
		display: block;
		margin-top: -10px;
		
	}
	.control-label {
	font-family: Georgia;
    font-weight: 300;
    font-style: normal;
    color: #7f142f;
	margin-top: -40px;
    margin-left: 20px;
	}
	
	.h3 {
		font-family: 'Raleway', sans-serif;
	}
}

/* Calendar */
.clearfix::after,
.calendar ol::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* ================
Calendar Styling */
.calendar {
  border-radius: 10px;
}

.month {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .month {
    font-size: 3.5rem;
  }
}

.calendar ol li {
  float: left;
  width: 14.28571%;
}

.calendar .day-names {
  border-bottom: 1px solid #eee;
}

.calendar .day-names li {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.calendar .days li {
  border-bottom: 1px solid #eee;
  min-height: 8rem;
}

.calendar .days li .date {
  margin: 0.5rem 0;
}

.calendar .days li .event {
  font-size: 0.75rem;
  padding: 0.4rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4rem;
  margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
  width: 200%;
}

.calendar .days li .event.begin {
  border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
  border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
  background: none;
}

.calendar .days li:nth-child(n+29) {
  border-bottom: none;
}

.calendar .days li.outside .date {
  color: #ddd;
}
